@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@{
    ViewData["Title"] = "Login";
}
<!doctype html>
<style>
    body {
        text-align: center
    }
</style>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <div class="content">
        <h1>Welcome to Programmer Fox Club!</h1>

        <p>Please provide a name, so you can associate it to your pet!</p>

        <form asp-controller="Home" asp-action="Login" method="post">
            Name <input type="text" name="name" />
            <button type="submit">Go</button>
        </form>
    </div>
</body>
</html>