@using day_02_workshop.Models
@model BankAccount

<h2>BankAccount</h2>

<p>
    <label>Name: </label> @Model.Name <br/>
    <label>Balance: </label> @Model.Balance.ToString("F") Zebra<br/>
    <label>Animal Type: </label>@Model.AnimalType <br/>
</p>

