
@{
    ViewData["Title"] = "ShowString";
}

<h2>ShowString</h2>

<p>
    "This is an <em>HTML</em> text. <b>Enjoy yourself!</b>" <br/>
    @("This is an <em>HTML</em> text. <b>Enjoy yourself!</b>") <br/>
    @Html.Raw("This is an <em>HTML</em> text. <b>Enjoy yourself!</b>") <br/>
</p>

