@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@using FoxPet.Repositories
@model Fox
@{
    ViewBag.Title = "NutritionStore";
}

<ul>
    <li><a href="/?name=@Model.Name">Information</a></li>
    <li><a hred="">Nutrition Store</a></li>
    <li><a href="trickCenter?name=@Model.Name">Trick Center</a></li>
    <li><a href="actionHistory?name=@Model.Name">Action History</a></li>
</ul>

<form asp-controller="Fox" asp-action="NutritionStore" method="post">
    Food 
    <select>
        @foreach (var food in @Model.Food)
        {
            <option value="Food">@food</option>
        }
    </select>

    Drink 
    <select>
        @foreach (var drink in @Model.Drink)
        {
            <option value="Drink">@drink</option>
        }
    </select>
    <button type="submit">Change</button>
</form>