@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@model day_03_workshop.Services.UtilityService

@{
    ViewBag.Title = "AvailableUtilityService";
    Layout = "_Layout";
}

<h2>AvailableUtilityService</h2>
