
@{
    Layout = null;
}
<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    @* <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous"> *@
    <style>
        body {
            margin: auto;
            width: 50%;
        }
    </style>
</head>
<body align="center">
    <br />
    <div><h1>Submit a new post</h1></div>
    <br />
    <div>
        <form asp-action="Submit" asp-controller="Home" method="post">
            <label>Title: </label><input type="text" name="Title" value="" />
            <br /><br />
            <label>URL: </label><input type="text" name="Url" value="" />
            <br /><br />
            <button type="submit">Submit</button>
        </form>
    </div>
</body>
